<?xml version="1.0" encoding="utf-8"?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android" >


<CheckBoxPreference
      android:key="pt"
      android:title="MUSIC"
      android:summaryOn="ENABLED"
      android:summaryOff="DISABLED"/>
     

</PreferenceScreen>
